@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Manrope';
  font-style: 'normal';
  font-weight: 200-800;
  src: url('/fonts/Manrope.woff2') format('woff2');
}

@layer base {
  html {
    font-family: "Manrope", system-ui, sans-serif;
  }
  h1 {
    @apply text-3xl md:text-5xl xl:text-6xl font-extrabold;
  }
  h2 {
    @apply text-3xl md:text-4xl xl:text-5xl font-bold;
  }
  h3 {
    @apply text-2xl md:text-3xl xl:text-4xl font-bold;
  }
  h4 {
    @apply text-xl md:text-2xl xl:text-3xl font-semibold;
  }
  h5 {
    @apply text-xl xl:text-2xl font-medium;
  }
  h6 {
    @apply text-lg font-medium;
  }
}