---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import ProductSpotlight from '../components/ProductSpotlight.astro';
import FavoriteTools from '../components/FavoriteTools.astro';
---

<Layout title='Kymata'>
	<Hero />
	<ProductSpotlight />
	<FavoriteTools />
</Layout>
