---
import SectionHeader from "./SectionHeader.astro";
import ToolPill from "./ToolPill.astro";

const tools = ["astro", "tailwind", "rownd", "openAI", "next.js", "swift", "react"];
---

<div class="container">
  <SectionHeader text="favorite tools" />
  <div class="bg-gray-800 rounded-xl p-4">
      <div class="flex flex-wrap justify-center gap-6">
        {tools.map(tool => <ToolPill tool={tool} />)}
      </div>
  </div>
</div>

<!-- <style>
  .fav-tools-mask {
    mask-image: linear-gradient(93deg,#0000 3.05%,#000 25%,#000 50%,#000 75%,#0000);
    mask-repeat: no-repeat;
  }

  .ticker-container {
    /* animation: scroll linear 5s infinite; */
    transform: translate3d(0%, 0, 0);
  }

  @keyframes scroll {
    0% {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }

    100% {
      /* -webkit-transform: translate3d(-100%, 0, 0); */
      transform: translate3d(-100%, 0, 0);
    }
  }
</style> -->