---

---

<div class="container flex flex-col justify-center items-center text-center py-20" id="heroContainer">
  <div class="w-3/4 lg:w-2/5">
    <img src="/images/hero-wireframe.svg" />
  </div>
  <div class="-mt-20 md:-mt-44">
    <h1 class="leading-tight text-white">End to end software solutions <br class="hidden md:inline"/>that 
      <span class="text-green-400">supercharge your
        <span class="block typewriter">.</span>
      </span>
    </h1>
  </div>
</div>

<style>
  #heroContainer {
    background: radial-gradient(50% 50% at 50% 50%, #013232 0%, #011013 100%);
  }
  .typewriter::before {
    content: "business";
    animation: typing 10s ease 2s infinite;
  }

  .typewriter::after {
    content: "";
  }

  @keyframes typing {
    0%, 92% { content: "business"; }
    1%, 91% { content: "busine"; }
    2%, 90% { content: "busin"; }
    3%, 89% { content: "busi"; }
    4%, 88% { content: "bus"; }
    5%, 87% { content: "bu"; }
    6%, 86% { content: "b"; }
    7%, 85% { content: ""; }

    11%, 26% { content: ""; }
    12%, 25% { content: "w"; }
    13%, 24% { content: "wo"; }
    14%, 23% { content: "wor"; }
    15%, 22% { content: "work"; }

    29%, 60% { content: ""; }
    30%, 59% { content: "s"; }
    31%, 58% { content: "si"; }
    32%, 57% { content: "sid"; }
    33%, 56% { content: "side"; }
    34%, 55% { content: "side "; }
    35%, 54% { content: "side h"; }
    36%, 53% { content: "side hu"; }
    37%, 52% { content: "side hus"; }
    38%, 51% { content: "side hus"; }
    39%, 50% { content: "side hust"; }
    40%, 49% { content: "side hustl"; }
    41%, 48% { content: "side hustle"; }

    63%, 78% { content: ""; }
    64%, 77% { content: "l"; }
    65%, 76% { content: "li"; }
    66%, 75% { content: "lif"; }
    67%, 74% { content: "life"; }
  }
</style>