---

---

<nav class="px-4 md:px-0">
  <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
    <div class="flex h-16 items-center justify-between">
      <div>
        <img src="/logo.svg" />
      </div>
      <div class="text-white">
        <a href="https://twitter.com/_kymata" target="_blank">
          <img src="/images/twitter.svg" />
        </a>
      </div>
    </div>
  </div>
</nav>