---
import SectionHeader from "./SectionHeader.astro";
import Button from "./Button.astro";
---

<div class="container">
  <SectionHeader text="product spotlight" />
  <div class="md:flex items-center gap-20">
    <div class="px-2">
      <div class="py-4 md:py-6">
        <img class="h-8 md:h-10" src="/images/rmml-logo.svg" />
      </div>
      <h5 class="text-gray-400">Effortlessly elevate your brand identity with Remake My Logo, your AI powered design companion.</h5>
      <div class="pt-8 md:pt-10 pb-10">
        <Button />
      </div>
    </div>
    <div class="bg-gray-800 md:shrink-0 md:mx-0 py-6 px-8 rounded-xl">
      <img class="md:w-72" src="/images/rmml-showcase.png" />
    </div>
  </div>
</div>