---
interface Props {
  tool: string
}

const { tool } = Astro.props;

const icon = `/images/${tool}.svg`
---

<div class="flex flex-none gap-2 items-center bg-blue-950 py-3 px-6 rounded-full">
  <img class="h-5" src={icon} />
  <h6 class="text-gray-200 capitalize">{tool}</h6>
</div>